body{
    margin: 0;
    text-align: center;
    background-color: blue;
}
.container{
    display: flex;
    justify-content: space-around;
}



button{
    display: flex;
    text-align: center;
}
#home-btn,#guest-btn{
    display: flex;
    justify-content: space-around;
    background: none;

    
}
#home-score,#guest-score{
margin-top: 10px;
    
    
background-color: black;
font-family: 'Cursed Timer ULiL';
font-style: normal;
font-weight: 400;
font-size: 90px;
line-height: 127px;
/* or 141% */

text-align: center;

color: #F94F6D;
}
h3{
   


font-family: 'Verdana';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 36px;
/* identical to box height, or 90% */

text-align: center;

color: red;

}
#home-btn{
  padding-top: ;

}